body { background-color: #000080; color: #FFFFFF; font-family: "Times New Roman", serif; margin: 0; padding: 20px; overflow-x: hidden; }
.main-table { width: 760px; border: 4px ridge #C0C0C0; background-color: #004040; margin: 0 auto; border-collapse: collapse; }
.header-area { text-align: center; border-bottom: 3px double #ffffff; padding: 10px; }
.chat-container { background-color: #000000; padding: 15px; border: 3px inset #C0C0C0; margin: 10px; }

/* Окно сообщений */
#chat-window { height: 300px; background-color: #fff; color: #000; border: 2px inset #fff; overflow-y: scroll; padding: 10px; font-family: "Courier New", monospace; font-size: 13px; margin-bottom: 10px; text-align: left; }
.input-bar { display: flex; gap: 5px; margin-bottom: 10px; }

input { border: 2px inset #C0C0C0; padding: 5px; background-color: #fff; color: #000; }
button { background-color: #C0C0C0; border: 2px outset #fff; color: #000; font-weight: bold; cursor: pointer; padding: 5px 15px; }
button:active { border: 2px inset #fff; }

.system-msg { color: #808080; font-style: italic; }
.user-name { color: #ff0000; font-weight: bold; }
.footer { text-align: center; font-size: 11px; background-color: #C0C0C0; color: #000; padding: 5px; }
a { color: #00FFFF; text-decoration: underline; font-size: 14px; }
marquee { background: #FF0000; color: #FFFF00; border: 1px solid #000; }